# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
astroid
backcall
ca-certificates
certifi
decorator
ipython
ipython_genutils
isort
jedi
lazy-object-proxy
libedit
libffi
libgcc
libstdcxx-ng
mccabe
ncurses
openssl
parso
pexpect
pickleshare
pip
prompt_toolkit
ptyprocess
pygments
pylint
python
readline
setuptools
simplegeneric
six
sqlalchemy
sqlite
tk=8.6.7=hc745277_3
traitlets=4.3.2=py36h674d592_0
wcwidth=0.1.7=py36hdf4376a_0
wheel=0.31.1=py36_0
wrapt=1.10.11=py36h28b7045_0
xz=5.2.4=h14c3975_4
zlib=1.2.11=ha838bed_2
